{% extends 'base.html'%}
{% block title %}About Me{% endblock %}

{% block content%}

              <div class="media px-2">
                <img src="{{url_for('static', filename='media/LinkedIn2.jpg', width=800, height=500, quality=95)}}" class="rounded float-left rounded-circle mx-auto" alt="...">
              
                <br/>
              </div>
              <br/><br/>
              <div>
              <h1 style="margin-left: 100px;">About Me</h1>
              <p style="margin-left: 100px; margin-right:100px;"> 
                <br/>
                After finishing my Degree in Business Managment at Brunel University I felt very lost and uncertain of the direction i wanted to go, I spent some time in self-reflection and 
                did research on the type of career I wanted to see myself in. Thats when I came accross Data Science, It was such a new world Once I started researching and learning about Data Science I never stopped, it grew into a passion for me and I committed my self to learning everything 
                I could related to Data Science, Machine Learing and everything else I could find online. 
                <br/><br/>
                From there I began the journey of Self-learning and spent a great deal of time doing every YouTube, Udemy, Udacity course you can think of, and then I made the decesion to Join a Data Science Bootcamp
                in order to develop my skills to a level where I could see myself making it a full-time career and made some great friends along the way.
                <br/><br/>
                My Aim is to be a positive force on people and society through the skils and knowledge I have learnt in Data Science and to make a difference 
              </p>
            </div>
      <main>
      </main>
<br/><br/><br/><br/><br/><br/>
{% endblock %}