{% extends 'base.html'%}
{% block title %}{{title}}{% endblock %}


{% block content%}

            <div class='container'>
                <div class="alert alert-success" role="alert">
                    <h1 class="alert-heading">Thank you for Subscribing!</h1>
                </div>
                <br/><br/>
                <h3>Confirm information</h3>
                <br/>
                <ul>
                {% for subscriber in subscribers %}
                    <li>{{ subscriber }}</li>
                {% endfor %}
                </ul>
            </div>
   
{% endblock %}