{% extends 'base.html'%}
{% block title %}Khalid Gharib{% endblock %}


{% block content %}
   
{% endblock %}






<!-- 
            <div class='container'>
                <h1>Subscribe!</h1>
                <p>subscribe to keep uptodate with my blogs and what im up to!</p>
            {% if error_statement %}
                <div class="alert alert-danger" role="alert">
                    <h2 class="alert-heading">Error...</h2>
                </div>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ error_statement }}</strong> You should check the fields below.
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
              </div>
                {% endif %}
              <div class='container'>
                  <form action='/form' method='POST'>
                      <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="First Name" name='first_name', value="{{ first_name }}">
                      </div>
                      <div class="form-group">
                      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Last Name" name='last_name', value="{{ last_name }}">
                      </div>
                      <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email" name='email', value="{{ email }}">
                      </div>
                      <div class="form-group form-check">
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
              </div>
              </div> -->
<!-- <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/> -->


